<div class="ms-3">
    <form [formGroup]="modifyForm">
        <div class="row">
            <div class="col-md-3">
                Lakás:
            </div>
            <div class="col">
                {{flat.floor}}. emelet, {{flat.door}}. ajtó
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                Név:
            </div>
            <div class="col">
                <input  type="text" class="" id="name"formControlName="name"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                Számla egyenleg:
            </div>
            <div class="col">
                {{person.accountBalance}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                Az épületben lakik-e:
            </div>
            <div class="col">
                <input type="text" class="" id="isResident" formControlName="isResident"/>
            </div>
        </div>
        <span *ngIf="isAdmin">
            <button type="button" class="btn btn-primary" style="float: right;" *ngIf="isDisabled" (click)="enableModify()">Módosítás</button>
            <button type="button" class="btn btn-success" style="float: right;" *ngIf="!isDisabled" (click)="modifyPerson()">Végrehajt</button>
            <button type="button" class="btn btn-danger" style="float: right;" *ngIf="!isDisabled" (click)="disableModify()">Mégse</button>
        </span>
    </form>
</div>