<div class="container mt-3" id="main">
    <div style="width: 80%; margin: auto;">
        <h3 class="text-center mt-3 mb-4">Összegzés:</h3>
        <table class="table table-striped mb-3">
            <thead><td>&nbsp;</td><td>&nbsp;</td></thead>
            <tbody>
                <tr>
                    <td><b>Költség leírása:</b></td>
                    <td>{{description}}</td>
                </tr>
                <tr>
                    <td><b>Költség felvitelének dátuma:</b></td>
                    <td>{{time}}</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped mb-3">
            <thead>
                <td>
                    <b>Név:</b>
                </td>
                <td>
                    <b>Összeg:</b>
                </td>
            </thead>
            <tbody>
                <tr *ngFor="let person of people; let i=index">
                    <td>
                        {{person.name}}
                    </td>
                    <td>
                        {{transactions[i].amount}}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center mb-3">
            <button class="btn btn-primary mb-3" style="width: 100%; border-radius: 20px;" 
                    (click)="addExpanse()">
                Kiadás felvitele
            </button>
            <a routerLink="/main-menu" class="btn btn-danger mb-2" style="width: 100%; border-radius: 20px;">Vissza a főmenübe</a>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="errorMessage">
                {{errorMessage}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="closePopup()"></button>
            </div>
            <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="successMessage">
                {{successMessage}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="closePopup()"></button>    
            </div>
        </div>
    </div>
</div>